.main {
  display: flex;
  flex-wrap: wrap;
  transition: transform 0.5s ease;
  margin-bottom: 100px;
  flex-direction: row-reverse;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.social-icons a {
  color: #333;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: orange;
}

.Haile {
  color: orange;
}

span {
  font-size: 20px;
}

.main-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  background-color: black;
  padding: 20px;
}

.main-left h1 {
  width: 100%;
  font-size: 30px;
  font-weight: 500;
  color: white;
  letter-spacing: 0.5px;
}

.main-left h2 {
  font-size: 40px;
  color: white;
  margin-top: 10px;
}



.main-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 20px;
}

.banner-image {
  margin-top:50px;
  width: 400px;
  height: auto;
  position: absolute;
  transition: transform 0.3s ease;

}

.banner-image:hover {
  transform: scale(1.05);
}

.banner-image1 {
  margin-top:50px;
  width: 280px;
  height:auto;
  margin-left:-300px;


}

/* Responsive Design */
@media (max-width: 760px) {
  .main {
    width:100px;
    flex-direction: column;
    text-align: center;
    height:600px;
  }

  .main-left, 
  .main-right {
    margin-left:-100px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main-right{
    
  }

  .main-left h1 {
    font-size: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .main-left h2 {
    font-size:15px;
    padding:30px;
    
  }



  .banner-image {
    width: 90%;
    max-width: 300px;
    
  }

  .banner-image1 {
    display: none;
  }
}
