.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;
    margin-left:150px;
  }
  
  .project-card {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 200px; /* Fixed height */
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .project-card img {
    width: 100%;
    height: 100%; /* Ensures all images have the same height */
    object-fit: cover; /* Ensures images fill the space without stretching */
    border-radius: 10px;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .project-card:hover .overlay {
    opacity: 1;
  }
  
  .overlay a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    background: #ff9800;
    padding: 10px 15px;
    border-radius: 5px;
  }

  .text{
    border:2px solid orange;
    border-top:none;
    font-weight:bold;
    color:orange;
    font-size:30px;

  }
  p{
    color:orange;
  }
  .project-title {
    margin: 10px 0; /* Add some space above and below the title */
    font-size: 1.2em; /* Adjust font size as needed */
  }
  