
.skills-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Align items vertically */
    margin: 20px 0;
    gap: 20px; 
    margin-bottom:100px;
    margin-left:50px;
    animation: zigzagVertical 5s ease-in-out infinite;/* Space between items */
  }
  
  .skill {
    text-align: center;
    width: 120px; /* Adjust to make all boxes equal */
    transition: transform 0.3s;
  }
  
  .skill-image {
    max-width: 100px;
    height: auto;
  }
  
  .skill:hover {
    transform: scale(1.1);
  }
  
  .tsuf{
    height:50px;
    text-align: center;
    color: orange;
    font-size: 40px;
    font-weight:bold;
    padding-bottom:60px;
  }
  
  h3 {
    color: orange;
    font-size: 18px;
    white-space: nowrap; /* Prevent text from wrapping */
    text-align: center;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .skills-section {

       display: grid;
       grid-template-columns: repeat(3, 1fr);

    
    }
  
    .skill {
      width: auto; /* Allow items to adjust on small screens */
    }
  }
  